extends layout

block content
  #cadre
    h1= title
    center
      img(src='./images/ecu.png')
  form(action='/', method='POST')
    textarea(name="tweet", rows=3, columns=50)
    input(type='submit', content='Sends')

  ul
    - each tweet in tweets
      li= tweet

